- content_for :head do
  %script{ :type => 'text/javascript',
           :src => js_map_url }
  = javascript_include_tag 'StyledMarker'

.container-fluid
  .row
    .col-md-3.scrollable
      - @points.each do |point|
        .point{ :id => "point_#{point.id}" }
          %h4
            - if point.privacy_flag
              = link_with_icon('map-marker', point.name)
            - else
              = link_with_icon('lock', point.name)
            - if current_user && current_user = point.user
              %span.edit
                = link_to 'Edit', point_path(point)
            %span.coords= point.location
          .streetview{ :data => { :streetview => streetview_point_url(point, :format => :json) }}
    #map.col-md-9{ :data => { :points => points_url(:format => :json) }}
